<!--<section class="container-fluid" id="my-about-me">
  <div class="row">
    <div class="col-md-4">
      <div id="my-title">{{title}}</div>
      <div id="my-contact-info">
        <div><span>phone</span>{{details.number}}</div>
        <span>mail</span><a>{{details.email}}</a>
        <div><span>birth</span>28<small>th</small> May, 1991</div>
        <div><span>place</span>{{details.address}}</div>
      </div>
    </div>
    <div id="my-description" class="col-md-8">
      <p>A challenging position in a progressive company, which will offer me a positive atmosphere to apply and enhance my knowledge in Web Development and Application Design, leading to career growth and self-development and contributing to the success of organization</p>
    </div>
  </div>
</section>-->
<p class="text-center">About me page development is progress....!!</p>
