<section class="container-fluid" id="my-home">
    <div class="row text-center">
      <div id="my-name">{{details.name}}</div>
      <div id="my-designation">{{details.designation + " - "}}
        <img id="my-company-pic" src="assets/images/my-bnpp.png" alt="BNP Paribas">
        <a href="http://indiasolutions.bnpparibas.co.in/"> {{details.companyName}} </a>
        <p>{{details.description}}</p>
      </div>
      <div title="I'm a full stack web developer, primarily working on applications built on AngularJS and Spring Boot framework, living in India, Mumbai.">
        <img id="my-profile-pic" src="assets/images/my-pic.jpg" alt="NEVILLE D'SOUZA - WEB Developer">
      </div>
        <div id="my-contact-info">
          <div>{{details.number}}</div>
          <div><a href="mailto:nevilledsouza28@gmail.com">{{details.email}}</a></div>
          <div>{{details.dob}}</div>
          <div>{{details.address}}</div>
        </div>
        <button type="button" class="btn btn-primary btn-lg" onclick="document.getElementById('downloadFile').click()">Download Resume <span><i class="fa fa-download fa-lg"></i></span></button>
        <a id="downloadFile" href="assets/neville_dsouza_resume.pdf" download="neville_dsouza_resume" hidden></a>
    </div>
</section>
<footer>
  <div class="row">
    <div class="col-sm-6">
      <span id="my-copyright"><b></b> {{footerNotes}}</span>
    </div>
    <div class="col-sm-6">
      <span id="my-social-icons">
        <a href="https://www.facebook.com/neville.dsouza.792"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/neville.dsouza/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/neville-d-souza-92478773/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://www.quora.com/profile/Neville-Dsouza/"><i class="fa fa-quora" aria-hidden="true"></i></a>
      </span>
    </div>
  </div>
</footer>
