#my-home{
    #my-name {
      font-size: 65px;
      text-transform: capitalize;
      color: #fff;
      &:hover{
        color: #ffe89c;
      }
    }

    #my-profile-pic {
      border-radius: 50%;
      width: 220px;
      height: 220px;
      border: 2px solid #ffe89c;
    }

    #my-designation {
      font-size: 23px;
      font-weight: 700;
      margin-bottom: 15px;
      text-transform: uppercase;
      background-color: #2f6d6a;
      opacity: 0.9;
      img{
        width: 20px;
        height: 20px;
        border: 1px solid #9cbd9d;
      }
      a{
        color: #fff;
        cursor: pointer;
      }
    }

    #my-contact-info {
      letter-spacing: 2px;
      font-size: 18px;
      a{
        color: #fff;
        cursor: pointer;
      }
      div{
        text-transform: capitalize;
      }
    }
    button{
        border-radius: 0px;
        background-color: #ffe89c;
        margin-top: 10px;
        border: 1px solid #999;
        text-transform: uppercase;
        color: black;
    }
}
