#my-home{
    margin-bottom: 40px;
    #my-name {
      font-size: 65px;
      text-transform: capitalize;
      color: #ffe89c;
      &:hover{
        color: #fff;
      }
    }

    #my-profile-pic {
      border-radius: 50%;
      width: 175px;
      height: 175px;
    }

    #my-designation {
      font-size: 23px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: #2f6d6a;
      opacity: 0.9;
      img{
        width: 20px;
        height: 20px;
        border: 1px solid #9cbd9d;
      }
      a{
        color: #fff;
        cursor: pointer;
      }
      p{
        letter-spacing: 1px;
        font-size: 14px;
        padding: 6px 25%;
        text-transform: capitalize;
      }
    }

    #my-contact-info {
        letter-spacing: 4px;
        font-size: 15px;
      div{
      margin: 6px;
        text-transform: capitalize;
          a{
            color: #fff;
            cursor: pointer;
            text-transform: lowercase;
          }
      }
    }
    button{
        border-radius: 0px;
        background-color: #ffffff;
        margin: 10px 5px;
        border: 1px solid #007f82;
        text-transform: uppercase;
        color: #01a8ac;
    }
}
footer{
   position: fixed;
   height: 28px;
   bottom: 0;
   width: 100%;
   background-color: #fff;
   padding: 5px;
   #my-copyright{
    color: #000;
    float:left;
    font-size: 12px;
   }
   #my-social-icons{
   float:right;
     a{
       color: #fff;
       margin-left: 12px;
       .fa-facebook-square{
          color: #3b5998
       }
       .fa-linkedin-square{
           color: #007bb6;
       }
       .fa-quora{
           color: #b92b27;
       }
       .fa-instagram{
           color: transparent;
           background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
           background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
           background-clip: text;
           -webkit-background-clip: text;
       }
     }
   }
}
